@import url("https://fonts.googleapis.com/css2?family=Ovo&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";

html,
body,
#root,
.app {
  height: 100vh;
}

@theme {
  /* --font-playfair: "Playfair Display", "serif"; */
  --font-Poppins: "Poppins", "sans-serif";
  --font-Ovo: "Ovo", "sans-serif";

  --breakpoint-3xs: 328px;
  --breakpoint-2xs: 410px;
  --breakpoint-xs: 512px;
  --breakpoint-sm: 640px;
  --breakpoint-2sm: 704px;
  --breakpoint-md: 768px;
  --breakpoint-2md: 832px;
  --breakpoint-lg: 1024px;
  --breakpoint-2lg: 1120px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;

  /* --color-p1: #ff3811; */
  --color-p1: #ff6b00;
  --color-black: #101010;
  --color-l: #fff6eb;
  /* --color-b1: #fff6eb;
  --color-b2: #a7a7a7; */

  --color-b1: #363636;
  --color-b2: #e9e9e9;
  --color-b3: #d9d9d9;
  --color-p2: #29b170;
  /* --color-b1: #363636; */
  --color-b2: #e9e9e9;
  --color-d1: #737373;
  --color-d2: #333333;
  --color-t1: #464646;

  /* start */
  --color-blue: #2cbce9;
  /* --color-red: #dc4492; */
  --color-red: #ffffff;
  /* --color-red: #f2b237; */
  /* --color-yellow: #fdcc49; */
  /* --color-yellow: #31c4be; */
  --color-yellow: #dc4492;
  --color-grey: #ededed;
  /* --color-dark-grey: #757575; */
  --color-dark-grey: #a8bcc7;
  --color-opaque-black: rgba(0, 0, 0, 0.35);

  /* --color-avocado-100: oklch(0.99 0 0);
  --color-avocado-200: oklch(0.98 0.04 113.22);
  --color-avocado-300: oklch(0.94 0.11 115.03);
  --color-avocado-400: oklch(0.92 0.19 114.08);
  --color-avocado-500: oklch(0.84 0.18 117.33);
  --color-avocado-600: oklch(0.53 0.12 118.34);
  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1); */
  /* ... */
}

.gradient-anim {
  background: linear-gradient(
    135deg,
    rgba(143, 192, 208, 0.3),
    rgba(163, 73, 118, 0.1),
    rgba(51, 151, 188, 0.03),
    rgba(29, 127, 104, 0.08)
  );
}

.upcomingCard {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.upcomingCard:hover img {
  transform: scale(1.1);
  transition: transform 0.5s;
}
.upcomingCardContent {
  height: 0;
  width: 100%;
  /* background: linear-gradient(transparent, #5a5c62 58 58%); */
  position: absolute;
  left: 0;
  top: -0px;
  overflow: hidden;
  transition: height 0.3s;
}
.upcomingCard:hover .upcomingCardContent {
  height: 100%;
}

.upcomingCard:hover .child {
  bottom: 20px;
}

@layer components {
  .skillCard {
    @apply shadow-xl border-p1 border-b-0 rounded-lg bg-[#fff5ef] border hover:border-b-0  border-t-2    flex justify-center items-center sm:w-[250px] xs:w-full h-[80px];
  }

  .tabBtn {
    @apply border-[#4444] hover:bg-p1 cursor-pointer hover:text-white border rounded-xl  px-4 py-2;
  }
  .customWidth {
    @apply 2xl:w-[1475px] xl:w-[1190px] 2lg:w-[1080px] lg:w-[980px] md:w-[704px] 2sm:w-[660px] sm:w-[600px]  w-[300px] xs:w-[410px] 2xs:w-[380px] 3xs:w-[310px]  mx-auto;
  }
}

.gradient-rainblue {
  background-image: linear-gradient(
    90deg,
    /* #24cbff 14.53%, */ #4cd1ff 14.53%,
    #ffc7a4 69.36%,
    #fc59ff 117.73%
  );
}

.borderGradient {
  border-top: 2px solid;
  border-image: linear-gradient(
      90deg,
      #4cd1ff 14.53%,
      #ffc7a4 69.36%,
      #fc59ff 117.73%
    )
    1;
}

.bannerBox {
  position: relative;
  border-radius: 50%;
  overflow: hidden;
}

.bannerBox::before {
  position: absolute;
  content: "";

  inset: -10px 150px;
  background: linear-gradient(315deg, #f2b237, #dc4492);
  /* background: red; */
  transition: 0.5s;
  animation: animate 2s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.bannerBox::after {
  content: "";
  position: absolute;
  inset: 4px;
  /* background: #101826; */
  background: #101826;
  border-radius: 24px;
  border-radius: 50%;
  z-index: 1;
}

.childBox {
  position: absolute;
  inset: 20px;

  border: 4px solid #a8bcc7;
  z-index: 3;
  border-radius: 50%;
  overflow: hidden;
}

@media (max-width: 1100px) {
  .bannerBox::before {
    inset: -10px 120px;
  }
}
